body {
    background-image:
        /* linear-gradient(rgba(244, 236, 225, 0.9),
            rgba(2, 3, 1, 0.1)),*/
        url('../img/background-3.png');
    /* background: radial-gradient(rgb(244, 236, 225),rgba(2, 3, 1, 0.9)); */
    /* background-color: rgba(244, 236, 225,0); */

    box-shadow: inset 0 0 0 2000px rgba(46, 64, 53, 0.8);

    background-size: cover;
    background-attachment: fixed;
}

.intro {
    color: white;
}

.inter-header {
    font-family: "Inter", serif;
    /* font-optical-sizing: auto; */
    font-weight: 600;
    font-style: normal;
    /* font-variation-settings:
      "wdth" 100; */
}

.blockquote-footer {
    color: white;
}

.inter-md {
    font-family: "Inter", serif;
    font-weight: 800 !important;
    color: white;
    font-style: normal;
    font-size: 2vw;
}

.inter {
    font-family: "Inter", serif;
    font-weight: 400 !important;
    color: white;
    font-style: normal;
    /* font-size: 1.5vw; */
}

.inter-lg {
    font-family: "Inter", serif;
    /* font-optical-sizing: auto; */
    font-weight: 800 !important;
    color: white;
    font-style: normal;
    font-size: 10vw;
    display: ruby-text;
}


section.dark {
    background-color: #34252F;
}

.terminal {
    width: -webkit-fill-available;
    background-color: #000;
    color: #0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 255, 0, 0.2);
}

.terminal-header {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
}

.terminal-header .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

.terminal-content {
    padding: 10px;
}

.command {
    color: #0f0;
}

.output {
    color: #fff;
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 16px;
    background-color: #0f0;
    margin-left: 5px;
    animation: blink 1s infinite;
    vertical-align: text-bottom;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

section#terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

.show-spaces {
    white-space: break-spaces;
}

/* .touch-top {
    top: -25px;
    position: relative;
} */

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.white-svg {
    filter: invert(100%);
}

.navbar-text:hover img {
    filter: unset;

}

@media screen and (min-width: 600px) {
    .nav-link {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 600px) {

    .nav-link {
        font-size: 1.5rem !important;
    }
}

.hand-writing {
    font-family: "Patrick Hand", serif;
    /* border-radius: 5px; */
}

.hand-writing h4 {
    /* font-weight: 100 !important; */
}

button.accordion-button {
    background: transparent !important;
}

.accordion-item {
    background: transparent !important;
}

ol {
    padding: 0;
}

li::marker {
    margin-left: 5px;
}

.bg-dark {
    color: white !important;
}

.accordion-button {
    color: unset;
}

section#projects h4 {
    text-decoration: underline;
}

.info-icon {
    fill: white;
    color: white;
    width: 30px;
    filter: invert(88%) sepia(100%) saturate(2%) hue-rotate(188deg) brightness(111%) contrast(97%);
}